body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CONTENT FOOTER START */

.content-footer{
  display: grid;
  margin-top: 2em ;
  margin-bottom: 2em;
  grid-template-columns: 50% 50%;
}

.date{
  margin: auto auto auto 10px;
}

.author{
  margin: auto 10px auto auto;
}

@media screen and (max-width: 600px){
  .content-footer{
    grid-template-columns: 100%;
  }

  .date{
    margin-left: auto;
    margin-top: 1em;
  }

  .author{
    margin-right: auto;
  }
  
}

/* CONTENT FOOTER END */

/*PDF START*/

object {
  width: 100vh;
  height: 100vh;
  border-radius: 10px;
  margin: 10px auto 20px auto;
}

/* PDF END */

/* TEXT START */

.content-h{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-p{
  margin: auto;
  margin-top: 2em;
  width: 50%;
  text-align: justify;
}

hr{
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 600px){
  .content-p{
    width: 90%;
  }

  .content-h{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  hr{
    width: 90%;
  }
}

/* TEXT END */

/* VIDEO START */

video{
  width: auto;
  height: 100vh;
  border-radius: 10px;
  margin: 2em auto 2em auto;

}

@media screen and (max-width: 600px){
  video{
    width: 80%;
    height: auto;
  }
}

/* VIDEO END */