body {
  background-color: #e0e0e0;
  margin: auto;
}

/*NAVBAR START*/

.navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  background-color: #e0ccbe;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Add minimal box shadow */
}

.navbar ul li {
  text-align: center;
  display: inline;
  padding: 10px;
  background-color: #747264;
  border-radius: 10px;
  color: #ffffff;
}

.navbar ul {
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  margin-left: auto;
}

.project-name {
  margin-left: 10px;
  font-family: "Bradley Hand", cursive;
}

.left-side {
  display: grid;
  grid-template-columns: 50% 50%;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.right-side {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar ul li.active {
  background-color: #3c3633;
}

.navbar ul li:hover {
  background-color: #695e59;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    background-color: #e0ccbe;
    border-radius: 0 0 10px 10px;
    height: 15em;
  }

  .logo {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
  }
  .left-side {
    display: grid;
    grid-template-columns: 100%;
  }

  .middle {
    margin-top: -2px;
  }

  .right-side {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .contact {
    padding-bottom: 5px;
  }

  .navbar ul {
    padding: 5px;
  }
}

/*NAVBAR END*/

object {
  width: 100vh;
  height: 100vh;
  border-radius: 10px;
  margin: 10px auto 20px auto;
}
