body {
  background-color: #e0e0e0;
  margin: auto;
}

/*NAVBAR START*/

.navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  background-color: #e0ccbe;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Add minimal box shadow */
}

.navbar ul li {
  text-align: center;
  display: inline;
  padding: 10px;
  background-color: #747264;
  border-radius: 10px;
  color: #ffffff;
}

.navbar ul {
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  margin-left: auto;
}

.project-name {
  margin-left: 10px;
  font-family: "Bradley Hand", cursive;
}

.left-side {
  display: grid;
  grid-template-columns: 50% 50%;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.right-side {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar ul li.active {
  background-color: #3c3633;
}

.navbar ul li:hover {
  background-color: #695e59;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    background-color: #e0ccbe;
    border-radius: 0 0 10px 10px;
    height: 15em;
  }

  .logo {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
  }
  .left-side {
    display: grid;
    grid-template-columns: 100%;
  }

  .middle {
    margin-top: -2px;
  }

  .right-side {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .contact {
    padding-bottom: 5px;
  }

  .navbar ul {
    padding: 5px;
  }
}

/*NAVBAR END*/

/*GRID START*/

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #e0e0e0;
  padding: 20px;
  grid-template-rows: 100px 300px 300px 300px 200px;
  column-gap: 40px;
  row-gap: 100px;
}

p {
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
}
.item {
  background-color: #e0e0e0;
  padding: 15px;
  color: black;
  font-size: 25px;
}
.item:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
/*GRID END*/

/*BODY START*/

.main-grid {
  padding-top: 3em;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-text {
  padding: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.left-text {
  margin-left: auto;
  margin-right: 50px;
  text-align: right;
}

.right-text {
  margin-left: 50px;
  margin-right: auto;
  text-align: left;
}

.grid-img {
  margin: auto;
  width: 35%;
}

.left-img {
  margin-right: 50px;
  margin-left: auto;
}

.right-img {
  margin-right: auto;
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .main-grid {
    display: grid;
    grid-template-columns: 100%;
  }

  .left-text {
    margin-right: auto;
    text-align: center;
  }

  .right-text {
    margin-left: auto;
    text-align: center;
  }

  .grid-img {
    width: 60%;
  }

  .left-img {
    margin-right: auto;
  }

  .right-img {
    margin-left: auto;
  }
}
/*BODY END*/

/*FOOTER START*/

.footer {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  background-color: #e0ccbe;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.footer-img {
  margin: auto;
  height: 50%;
}

.footer-section h3 {
  text-align: center;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  list-style-type: none;
  text-align: center;
}

.footer-section ul li a {
  color: black;
}

.footer-section ul li a:hover {
  color: #847771;
}

hr {
  border: 1px solid #3c3633;
  width: 40%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 100%;
  }
}

/*FOOTER END*/
